:root{
  --claro: #D9CEC1;
  --oscuro: #192625;
  --principal: #365359;
  --secondary: #69868C;
  --extra: #A6998A;
}

body{
  margin: 0px;
  padding: 0px;
}

.main-title{
  text-align: center;
}

.main-title h1 span{
  font-size: medium;
}

.nav-container{
 width: 100%;
 background-color: var(--principal);
 margin: 0px;
 padding: 0px;
}

.principal-nav{
  background-color: var(--principal);
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.principal-nav a{
  color: var(--claro);
  padding: 10px;
  font-weight: 700;
}

.principal-nav a:hover{
  color: var(--oscuro);
  background-color: var(--extra);
}

.hero{
  background-image: url(../img/portadaLinkedIn.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  height: 250px;
  position: relative;
}

.hero-container{
  background-color: rgba(0,0,0,.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-container h2,
.hero-container p{
  color: var(--claro);
}

@media screen AND (max-width: 600px) {
  .principal-nav{
    flex-direction: column;
    align-items: center;
  }
}